.DS_Store
venv
out
.chainspace.env
checker.*.log.*
checker.pids
chainspacecore-0-0
chainspacecore-0-1
chainspacecore-0-2
chainspacecore-0-3
chainspacecore-1-0
chainspacecore-1-1
chainspacecore-1-2
chainspacecore-1-3
simplelog_client
contrib/core-tools/screenlog.0
contrib/screenlog.0
workspace.xml
tasks.xml
.idea
